body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1 {
    color: #01633d;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
}

.date {
    color: black;
}

li {
    list-style: none;
    color: #885df1;
    font-size: 16px;
}

li:first-letter {
    text-transform: capitalize;
}

img {
    height: 100px;
    width: 100px;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;  
}

.weather-app {
    padding: 50px;
    border: 2px solid pink;
    border-radius: 40px;
}

strong {
    color: #01633d;
    font-size: 64px;
    line-height: 1;
}

.units {
    position: relative;
    font-size: 20px;
    top: -34px;
}